actionlib==1.13.2
aiohappyeyeballs==2.4.4
aiohttp==3.10.11
aiosignal==1.3.1
angles==1.9.13
annotated-types==0.7.0
anyio==4.5.2
asgiref==3.8.1
async-timeout==4.0.3
attrs==25.3.0
backoff==2.2.1
base_local_planner==1.17.1
bcrypt==4.3.0
bondpy==1.8.6
build==1.2.2.post1
cachetools==5.5.2
camera-calibration==1.16.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
chromadb==1.0.12
click==8.1.8
coloredlogs==15.0.1
controller-manager==0.19.5
controller-manager-msgs==0.19.5
cryptography==45.0.3
cv-bridge==1.16.0
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
distro==1.9.0
durationpy==0.10
dynamic-reconfigure==1.7.1
exceptiongroup==1.3.0
fastapi==0.115.9
filelock==3.18.0
flatbuffers==25.2.10
frozenlist==1.5.0
fsspec==2025.5.1
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
google-auth==2.40.3
googleapis-common-protos==1.70.0
greenlet==3.1.1
grpcio==1.72.1
h11==0.16.0
hf-xet==1.1.3
httpcore==1.0.9
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.32.4
humanfriendly==10.0
idna==3.10
image-geometry==1.16.0
importlib_metadata==8.7.0
importlib_resources==6.5.2
interactive-markers==1.12.0
Jinja2==3.1.6
joblib==1.5.1
joint_state_publisher==1.15.0
joint_state_publisher_gui==1.15.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
kdl-parser-py==1.14.1
kubernetes==32.0.1
langchain==0.2.17
langchain-core==0.2.43
langchain-text-splitters==0.2.4
langsmith==0.1.147
laser_geometry==1.6.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
message-filters==1.15.14
mmh3==5.1.0
moveit-core==1.1.8
moveit_commander==1.1.8
moveit_python==0.4.3
moveit_ros_planning_interface==1.1.8
moveit_ros_visualization==1.1.8
mpmath==1.3.0
multidict==6.1.0
networkx==3.2.1
numpy==1.24.4
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
oauthlib==3.2.2
onnxruntime==1.19.2
opentelemetry-api==1.34.0
opentelemetry-exporter-otlp-proto-common==1.34.0
opentelemetry-exporter-otlp-proto-grpc==1.34.0
opentelemetry-instrumentation==0.55b0
opentelemetry-instrumentation-asgi==0.55b0
opentelemetry-instrumentation-fastapi==0.55b0
opentelemetry-proto==1.34.0
opentelemetry-sdk==1.34.0
opentelemetry-semantic-conventions==0.55b0
opentelemetry-util-http==0.55b0
orjson==3.10.15
overrides==7.7.0
packaging==24.2
pdfminer.six==20231228
pdfplumber==0.11.5
pillow==10.4.0
posthog==4.2.0
propcache==0.2.0
protobuf==5.29.5
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.19.1
pypdfium2==4.30.1
PyPika==0.48.9
pyproject_hooks==1.2.0
pysqlite3-binary==0.5.4
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-qt-binding==0.4.4
PyYAML==6.0.2
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resource_retriever==1.12.7
rich==14.0.0
ros_numpy==0.0.5
rosbag==1.15.14
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.15.14
roslaunch==1.15.14
roslib==1.15.8
roslint==0.12.0
roslz4==1.15.14
rosmake==1.15.8
rosmaster==1.15.14
rosmsg==1.15.14
rosnode==1.15.14
rosparam==1.15.14
rospy==1.15.14
rosserial_python==0.9.2
rosservice==1.15.14
rostest==1.15.14
rostopic==1.15.14
rosunit==1.15.8
roswtf==1.15.14
rpds-py==0.25.1
rqt-moveit==0.5.10
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.13
rqt-rviz==0.7.0
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_console==0.4.11
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.2
rqt_gui_py==0.5.2
rqt_image_view==0.4.16
rqt_launch==0.4.9
rqt_logger_level==0.4.11
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_publisher==0.4.10
rqt_py_common==0.5.2
rqt_py_console==0.4.10
rqt_robot_steering==0.5.12
rqt_runtime_monitor==0.5.9
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_tf_tree==0.6.2
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
rsa==4.9.1
rviz==1.14.14
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.13.1
sensor-msgs==1.13.1
sentence-transformers==4.1.0
shellingham==1.5.4
six==1.17.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
sniffio==1.3.1
SQLAlchemy==2.0.41
srdfdom==0.6.3
starlette==0.45.3
sympy==1.14.0
tenacity==8.5.0
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
threadpoolctl==3.6.0
tokenizers==0.21.1
tomli==2.2.1
topic-tools==1.15.14
torch==2.7.1
tqdm==4.67.1
transformers==4.52.4
triton==3.3.1
turtlebot3_example==1.2.5
turtlebot3_teleop==1.2.5
typer==0.16.0
typing_extensions==4.13.2
urdfdom-py==0.4.6
urllib3==2.2.3
uvicorn==0.34.3
uvloop==0.21.0
watchfiles==1.0.5
websocket-client==1.8.0
websockets==15.0.1
wrapt==1.17.2
xacro==1.14.13
yarl==1.15.2
zipp==3.22.0
